<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
</style>

.container{
  display:grid;
  grid-template-columns: 100%;
  grid-template-rows: 250px 200px;
  /* Each element has its own row for mobile devices */
  grid-template-areas: 
  "hd"
  "sd"
  "main"
  "ft";
}
  .box{
    background: #ffffff;
  }
  .header{
    background-color: #34568B;
    padding: 100px;
    font-size: 25px;
    text-align: center;
    grid-area:hd;
  }
  .footer{    
    background-color: #34568B;
    color: white;
    text-align: center;
    grid-area: ft;  
  }
  .sidebar{
    grid-area: sd;
  }
  .content{
    text-decoration: none;
    color: black;
    grid-area: main;
  }

  #title{
    text-decoration: none;
    color: white;
  }

  a:visited { text-decoration: none; color:black; }

  #blog_list_image{
  height: 100px;
  }

  *{
    font-family: 'Roboto', sans-serif;
  }

/* If the screen is 900px or longer  */
@media(min-width:900px) {
.container{
      display:grid;
      grid-template-columns: 200px 300px 300px;
      grid-template-rows: 70px 100% 70px;
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "sd main main main main main main main"
      "ft ft ft ft ft ft ft ft";
      /*border: 2px solid red;*/
  }
.header{
  padding: 20px;
}
.footer{
  padding: 20px;
}
}

li{
  list-style-type: none;
  line-height: 2;
}



/* CSS For Boxes  */

* {
  box-sizing: border-box;
}

/* Columns should go next or below to each other   */
.column {
  float: left;
  width: 95%;
  margin: 10px;
  padding: 0 10px;
}

/* remove extra margins */
.row {margin: 0 0px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/*CSS for boxes ends */